<%= layout('layouts/boilerplate') %>
<div class="flex justify-between align-middle">
  <h1 class="text-4xl">ALL Campgrounds</h1>
  <a class="text-xl" href="/campgrounds/new">add new campgrounds</a>
</div>
<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
<div class="grid-cols-1 sm:grid md:grid-cols-3 gap-4 mt-8">
  <% for (let campground of campgrounds) { %>
  <div
    class="flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 md:max-w-xl md:flex-row max-h-[400px]:"
  >
    <a href="/campgrounds/<%= campground._id %>">
      <div class="max-h-60 overflow-hidden">
        <img
          class="rounded-t-lg object-cover md:h-auto md:!rounded-none md:!rounded-l-lg"
          src="<%= campground.image %>"
          alt=""
        />
      </div>
      <div class="flex flex-col justify-start p-6">
        <h5
          class="mb-2 text-xl font-medium text-neutral-800 dark:text-neutral-50"
        >
          <%= campground.title %>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          <%= campground.description %>
        </p>
        <!-- <p class="text-xs text-neutral-500 dark:text-neutral-300">
        Last updated 3 mins ago
      </p> -->
      </div>
    </a>
  </div>
  <% } %>
</div>
