<%= layout('layouts/boilerplate') %>
<div class="flex justify-between items-center">
  <h1 class="text-4xl">ALL Campgrounds</h1>
  <button
    type="button"
    class="flex gap-2 items-center py-3 px-4 gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none dark:hover:bg-blue-900 dark:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
    data-te-ripple-init
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-4 h-4 inline-block"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 4.5v15m7.5-7.5h-15"
      />
    </svg>
    <a class="text-md font-bold" href="/campgrounds/new">add new campgrounds</a>
  </button>
</div>
<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
<div class="grid-cols-1 sm:grid md:grid-cols-3 gap-4 mt-8">
  <% for (let campground of campgrounds) { %>
  <div
    class="flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 md:max-w-xl md:flex-row max-h-[500px]:"
  >
    <a href="/campgrounds/<%= campground._id %>">
      <div class="max-h-60 overflow-hidden">
        <img
          class="rounded-t-lg object-cover md:h-auto md:!rounded-none md:!rounded-l-lg"
          src="<%= campground.image %>"
          alt=""
        />
      </div>
      <div class="flex flex-col justify-start p-6">
        <h5
          class="mb-2 text-xl font-medium text-neutral-800 dark:text-neutral-50"
        >
          <%= campground.title %>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          <%= campground.description %>
        </p>
        <!-- <p class="text-xs text-neutral-500 dark:text-neutral-300">
        Last updated 3 mins ago
      </p> -->
      </div>
    </a>
  </div>
  <% } %>
</div>
